a {
    color: black;
}
body {
    background-color: #efacb3;
    /*background-image: url('./images/background.jpg');*/
    background-size: 100% 100%;
}
nav {
    padding-top: 10px;
}
.component {
    padding-top: 70px;
}
#menu {
    position: relative;
    top: -13px;

    margin-right: 5px;
}
#menu:hover {
    cursor: pointer;
}
#logo {
    position: relative;
    top: -8px;

    display: inline-block;

    color: black;
}
#logo:hover {
    text-decoration: none;

    color: black;
}
.header {
    /*position: fixed;*/
    height: 100px;
    padding: 20px;
    margin: 0 auto;

    opacity: 50%;
    background-repeat: none;
    background-size: 40%;
}
ul {
    list-style: none;

    text-align: right;
}
li {
    display: inline;
    padding: 0 10px;
}
li form {
    display: inline;
}
.wrapper {
    height: 400px;
    margin: 0 auto;
}
.content {
    display: inline-block;
    height: 280px;
}
.content_right {
    display: inline-block;
    height: 100px;
}
/*img {
		width: 100%;
	}*/
.featured {
    width: 100%;
    padding: 15px;

    font-size: 20px;

    text-align: right;

    opacity: .85;
    color: white;
    background-color: black;
}
.profile {
    text-align: right;
}
.content {
    width: 100%;
    /*background-color: white;*/
    padding: 10px 20px;

    background-image: url("./../../images/paper3.png");
    background-size: 200% 200%;
}
.slide img {
    width: 100%;
    height: 230px;
    overflow: hidden;

    opacity: .9;
}
.slide p {
    position: relative;
    bottom: 20px;

    width: 100%;

    color: white;
    background-color: black;
}
#content1 h2 {
    padding: 25px;

    font-family: "Roboto Slab", serif;

    text-align: center;

    opacity: .8;
    color: white;
    background-color: black;
}
#content1 p {
    padding: 10px 25px;
    margin: 0;

    text-align: center;

    opacity: .8;
    color: white;
    background-color: black;
}
#content1 {
    background-image: url("./../../images/paper3.png");
    background-position: 50%;
    background-size: 100% 100%;
}
#slider {
    margin-top: 15px;

    background-image: url("./../../images/paper2.png");
    background-size: 100% 100%;
}
#register {
    padding: 15px 50px;

    text-align: center;

    background-image: url("./../../images/paper1.png");
    background-size: 100% 100%;
}
#register button {
    padding: 10px;

    border-radius: none;
}
.profile_content {
    padding: 10px 20px;

    background-color: white;
    background-image: url("./../../images/makeup_desk.jpg");
    background-repeat: no-repeat;
    background-position: 73px 160px;
    background-size: 900px;
}
.howto_content {
    padding: 10px 20px;

    background-color: white;
}
.menu_left {
    position: fixed;
    z-index: 1;

    display: none;
    float: left;
    width: 350px;
    width: 20%;
    height: 100%;
    height: 100%;
    padding: 20px;

    color: white;
    background-color: #2a2a2a;
}
.subtitle {
    font-family: "La Belle Aurore", cursive;
}
h4 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    line-height: 15.3999996185303px;

    letter-spacing: 6px;
    text-transform: uppercase;
}
#facebook {
    width: 182px;

    color: white;
    background-color: #3b5998;
}
.page {
    padding: 20px;

    background-color: white;
}

.makeup a {
    position: relative;

    display: block;
    padding-bottom: 50%;
    overflow: hidden;

    border-radius: 5px;
}
.makeup a img {
    position: absolute;

    display: block;
    width: 100%;
    height: auto;
}
.input_border {
    padding: 5px;

    font-size: 15px;

    border: 3px solid black;
    background: transparent;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: grey;
}
:-moz-placeholder {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;/* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: .5;
    color: grey;
}
::-moz-placeholder {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;/* Mozilla Firefox 19+ */
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: .5;
    color: grey;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: grey;
}
.input button {
    width: 182px;

    border-radius: none;
    background-color: #efacb3;
}
#quote {
    height: 180px;
    overflow: scroll;
}



card-panel {
    padding: 20px;
    margin: .5rem 0 1rem 0;

    transition: box-shadow .25s;

    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;

    margin: .5rem 0 1rem 0;
    overflow: hidden;

    transition: box-shadow .25s;

    border: 1px solid silver;
    border-radius: 2px;
    background-color: #fff;
}
.card .card-title {
    font-size: 24px;
    font-weight: 300;

    color: #fff;
}
.card .card-title.activator {
    cursor: pointer;
}
.card.small,
.card.medium,
.card.large {
    position: relative;
}
.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
    overflow: hidden;
}
.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
    overflow: hidden;
}
.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.card.small {
    height: 300px;
}
.card.small .card-image {
    height: 150px;
}
.card.small .card-content {
    height: 150px;
}
.card.medium {
    height: 400px;
}
.card.medium .card-image {
    height: 250px;
}
.card.medium .card-content {
    height: 150px;
}
.card.large {
    height: 500px;
}
.card.large .card-image {
    height: 330px;
}
.card.large .card-content {
    height: 170px;
}
.card .card-image {
    position: relative;
}
.card .card-image img {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    border-radius: 2px 2px 0 0;
}
.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 20px;
}
.card .card-content {
    padding: 20px;

    border-radius: 0 0 2px 2px;
}
.card .card-content p {
    margin: 0;

    color: inherit;
}
.card .card-content .card-title {
    line-height: 48px;
}
.card .card-action {
    padding: 20px;

    border-top: 1px solid rgba(160, 160, 160, .2);
}
.card .card-action a {
    margin-right: 20px;

    -webkit-transition: color .3s ease;
       -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
         -o-transition: color .3s ease;
            transition: color .3s ease;
    text-transform: uppercase;

    color: #ffab40;
}
.card .card-action a:hover {
    color: #ffd8a6;
}
.card .card-reveal {
    position: absolute;
    top: 100%;
    z-index: 1;

    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;

    background-color: #fff;
}
.card .card-reveal .card-title {
    display: block;

    cursor: pointer;
}

#triangle {
    position: absolute;
    top: 50px;
    right: 30px;

    width: 0;
    height: 0;

    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
}
#profile_menu {
    position: absolute;
    top: 60px;
    right: 0;

    width: 90px;
    height: 200px;

    text-align: center;

    color: white;
    background-color: black;
}
#profile_menu p {
    width: 90px;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 0;
}
#profile_menu p:hover {
    cursor: pointer;

    background-color: grey;
}
#profile_menu a {
    color: white;
}
#profile_menu a:hover {
    text-decoration: none;
}

.black_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    display: none;
    width: 100%;
    height: 100%;

         opacity: .80;
    background-color: black;

    filter: alpha(opacity=80);
    -moz-opacity: .8;
}

.white_content {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1002;

    display: none;
    width: 50%;
    height: 50%;
    padding: 16px;
    overflow: auto;

    border: 16px solid orange;
    background-color: white;
}
h6 {
    margin: 5px 0;

    color: black;
}
