<div class="container">
	<div class="howto_content">
		<div class="row">
			<div class="col-xs-3 col-md-2">
				left
				search

			</div>
			<div class="col-xs-9 col-md-10">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjs
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjsasdfasfasdfasdfadfsadfsadfsdsfasdfs
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjs
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjs
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjs
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					sdfjkfjs
				</div>
			</div>
		</div>
	</div>
</div>