<div class="container">
	<div class="profile_content">
		<h3 class="subtitle">My make up desk</h3>
		<img src="./images/emma_stone.jpg" width="180px">

		<div class="my_makeup">
			<h4 class="">MY MAKE UP LIST</h4>
			<h4>Lips</h4>
			<div class="row">
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
			</div>
			<h4>Cheeks</h4>
			<div class="row">
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
			</div>
			<h4>Eyes</h4>
			<div class="row">
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
				<div class="col-xs-3 col-md-3">
				asdf
				</div>
			</div>
		</div>
	</div>
</div>